.Introduccion,.Metodologia,.Objetivos,.Etica,.Resultados,.Discusion,.Conclusion,.Final{

    background: linear-gradient(40deg, black, white);
}

.Introduccion,.Metodologia,.Objetivos,.Etica,.Resultados,.Discusion,.Conclusion,.Final{
    
    -webkit-text-stroke: 1px black;
    color: transparent;
    
}

.elgg-page-section.elgg-page-body{

    background: linear-gradient(65deg, white, black)
}

.elgg-page-section.elgg-page-topbar{

    background: linear-gradient(to bottom, white, black)

}

.btn.btn-link.collapsed{

    color: black;
}

div.referencias li{

    padding-top: 10px;

}

div.contenedor_body div{

    padding: 10px;
    padding-bottom: 80%;
    box-shadow:  0px 10px 10px -6px black;
    position: relative;
}

div.contenido a{

    position: relative;
    left: 80%;

}


div.referencias ul li a{

    color: black;
}

#Menu1 {

    padding-right: 150px;
    padding-bottom: 500px;


    
}

#Menu2{

    position:fixed;
    padding: 10px;
    box-shadow:  0px 12px 15px 0px white;
    background: linear-gradient(60deg, white, black)
}

#opciones{

    position:fixed;
    padding: 10px;
    box-shadow:  0px 10px 10px -6px black;
}

.elgg-inner{

    padding-bottom: 50%;

}

.card-body{

    padding: 10px;
    padding-bottom: 100%;
    box-shadow:  0px 10px 10px -6px black;
    position: relative;

}